﻿@using System.Collections.Concurrent
@using System.Web.UI.HtmlControls
@using PhotoApp.Models
@model PhotoApp.Models.Photo

@{
    Layout = null;
    ViewBag.Title = "Display";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>View</title>
</head>
<body>
<h2>@Model.Title</h2>
<div>
    
</div>


    </body>
</html>
